{% extends 'new_base.html' %}

{% block metatags %}
<meta property="og:title" content="{{news.title}}">
<meta property="og:description" content="{{ news.text|truncatewords:30 }}">
<meta property="og:image" content="{{ absolute_image_url }}">
<meta property="og:url" content="{{ request.build_absolute_uri }}">

<!-- Optional: Twitter Card meta tags -->
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:title" content="{{ news.title }}">
<meta name="twitter:image" content="{{ news.featured_image.url }}">
{% endblock metatags %}

{% block title %}
Latest News
{% endblock title %}



{% block css %}
<style>
    .share-links {
        margin: 10px 0;
    }
    .share-links a {
        text-decoration: none;
        margin-right: 10px;
        font-size: 24px;
        color: #000;
    }
</style>
{% endblock css %}

{% block content %}
<!-- ##### Post Details Area Start ##### -->
<section class="post-details-area mb-80">
    <div class="container">
        <div class="row justify-content-center">
            <!-- Post Details Content Area -->
            <div class="col-12 col-lg-8">
                <div class="post-details-content d-flex">
                    <!-- Blog Content -->
                    <div class="blog-content">

                        <!-- Post Content -->
                        <div class="post-content mt-0">
                            <h1>{{news.title}}</h1>
                            <h4>{{news.category}}</h4>
                            {% if news.featured_image %}
                            <div class="m-2 text-center mx-auto">
                                <img src="{{news.featured_image.url}}" alt="" class="img-fluid">
                            </div>
                            {% endif %}
                            <div class="d-flex justify-content-between mb-30">
                                <div class="post-meta d-flex align-items-center">
                                    <a href="#" class="post-author">{% if news.user %}{{news.user.first_name}}{% else
                                        %}By Gargachary Times{% endif %}</a>
                                    <i class="fa fa-circle" aria-hidden="true"></i>
                                    <a href="#" class="post-date">{{news.created_at|date:"j F Y, H:i"}}</a>
                                </div>
                                <div class="post-meta d-flex">
                                    <!--                                    <a href="#"><i class="fa fa-comments-o" aria-hidden="true"></i> 32</a>-->
                                    <a href="#"><i class="fa fa-eye" aria-hidden="true"></i> {{news.count}}</a>
                                    <!--                                    <a href="#"><i class="fa fa-thumbs-o-up" aria-hidden="true"></i> 7</a>-->
                                </div>
                            </div>
                        </div>
                        <div class="share-links">
                            <span style="margin-right: 10px;">Share Link</span>
                            <!-- WhatsApp -->
                            <a href="https://wa.me/?text={{ news.title }} - {{ request.build_absolute_uri }}"
                               target="_blank">
                                <i class="fa fa-whatsapp" style="color:#25D366; margin-right: 10px;"></i>
                            </a>
                            <!-- Facebook -->
                            <a href="https://www.facebook.com/sharer/sharer.php?u={{ request.build_absolute_uri }}"
                               target="_blank">
                                <i class="fa fa-facebook" style="color:#3b5998; margin-right: 10px;"></i>
                            </a>
                            <!-- Twitter -->
                            <a href="https://twitter.com/intent/tweet?url={{ request.build_absolute_uri }}&text={{ news.title }}"
                               target="_blank">
                                <i class="fa fa-twitter" style="color:#1DA1F2; margin-right: 10px;"></i>
                            </a>

                        </div>
                        <p>{{news.text}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ##### Post Details Area End ##### -->
{% endblock content %}

{% block js %}
{% endblock js %}