{% extends 'base.html' %}

{% block css %}

{% endblock css %}


{% block content %}
<div class="container mt-5">
    <h2 class="mb-4">Upload News</h2>
    <form id="newsForm" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="mb-3">
            <label for="news_category" class="form-label">News Category</label>
            <select name="news_category" id="news_category" class="form-control" required>
                <option value="0">Select Category</option>
                {% for i in category %}
                <option value="{{i.id}}">{{i.name}}</option>
                {% endfor%}
            </select>
            <input type="text" class="form-control" name="title" id="title" placeholder="Enter News Tile" required>
            <textarea name="news_text" id="news_text" class="form-control"  cols="30" rows="10" placeholder="Enter News Text" required></textarea>
        </div>
        <div class="mb-3">
            <label for="file_image" class="form-label">Image</label>
            <input type="file" class="form-control" name="file_image" id="file_image">
<!--            <label for="file_image" class="form-label">Video</label>-->
<!--            <input type="file" class="form-control" name="file_video" id="file_video">-->
        </div>
        <div class="text-center">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </form>
</div>
{% endblock content %}

{% block js %}

<script>
    $('#newsForm').on('submit', function (e) {
        var news_category = $('#news_category').val()
        if(news_category == 0){
               Swal.fire({
                  title: 'Error',
                  text: 'select category first!',
                  icon: 'error',
                  confirmButtonColor: '#3085d6',
                  confirmButtonText: 'OK'
              });
              return false;
        }
        e.preventDefault();

        var formData = new FormData(this);

        $.ajax({
            url: '/news/upload-news/',
            type: 'POST',
            headers: {'X-CSRFToken': '{{ csrf_token }}'},
            data: formData,
            processData: false,
            contentType: false,
            success: function (response) {
                if(response.status == 'success'){
                  Swal.fire({
                    title: 'Success',
                    text: response.msg,
                    icon: 'success',
                    showCancelButton: false,
                    confirmButtonColor: '#3085d6',
                    confirmButtonText: 'OK'
                  }).then((result) => {
                    window.location.href = '/news/upload-news/';
                  });
                } else {
                  Swal.fire({
                      title: 'Error',
                      text: response.msg,
                      icon: 'error',
                      confirmButtonColor: '#3085d6',
                      confirmButtonText: 'OK'
                  });
                  return false;
                }
            },
            error: function (xhr, status, error) {
                alert("Error: " + xhr.responseText);
            }
        });
    });
</script>
{% endblock js %}

